.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

/* ------------- INDEX.vtl----------- */
.sidebar {
  background-color: black;
  color: white;
  height: 75em;
}

.imgFrontPage {
  width: 100%;
  height: 100%;
}

.navbarStyles {
  color: white;
  background-color: black;
}

.formSubmitSearch {
  padding: 4em;
}

.boxModel {
    padding: 25px;
    border: 15px solid black;
    margin: 10px;
}

#notStray {
  font-weight: bold;
  color: green;
}

#isStray {
  font-weight: bold;
  color: red;
}
