.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

/* ------------- INDEX.vtl----------- */
 .col-xs-12 {
  background-color: black;
  color: white;
}
