<div class="alignVertical">
  <strong>Find Your Lost Kitty</strong>
</div>
<form action="/cats" method = "post">
  <label for="inputLocation">City</label>
  <input id = "inputLocation" name="inputLocation" type="text"></input>
</form>
