<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/app.css">
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <title>Gotta cat 'em all</title>
  </head>

  <body>
    <nav class="navbar navbar-default navbarStyle">
      <div class="header">
        <a href="/"><i class="material-icons" style="font-size:64px;color:#78B6C6">place</i>
        <strong class="siteLabel">PocketCats</strong></a>
        <span class="navLinks">
          <button><a href="/search">Cat Map</a></button>
          <button><a href="/cats">Add Cat</a></button>
          <button><a href="/">Link</a></button>
        </span>
      </div>
    </nav>

      <div class="kitty">
        #*<strong>Find Your Lost Kitty</strong>
        <div class="container">
            #parse($template)
        </div>*#
        <div class="kitty">
          #parse($template)
        </div>
      </div>

  </body>



</html>
